
.nav-item .link-hover:hover{
    border-bottom: 1px solid #fff;

}

.carousel-item{
    height: 50vh;
}

.carousel-item img{
    height: 100%;
    width: 100%;
}

.w-200{
    width: 200px;
}

.w-450{
    width: 450px;
}

.social i:hover{
    color: #0d6efd;
    transform: scale(1.2);
    transition: 0.8s;
}